.background{
  width: 100vw;
  height: 100vh;
}
.widthAuto{
  width: 100%;
}
ul{
  
  list-style-type: none;
}
.test{
  display: none;
}
#inputDataComp{
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255,1);
}
.textDecoration{
 border-left: 4px solid red;
  color: aqua;
}
.displayContainer{
  width: 50vw;
  height: 30vh;
  border-radius: 20px;
}
.ml-15{
  margin-left: 15px;
}
.ml-7{
  margin-left: 7vw;
}
.ml{
margin-left: 7vw;
}
.displayContainer{
  width: 40vw;
}
.inputsearch{
  margin-left: 200px;
}